---
import { site } from "../data/site";
---

<footer class="foot">
  <div class="wrap foot-inner">
    <div class="sig">
      <span class="accent">$</span> built quietly · <span class="accent">aiartifacts</span>.art · 2026
    </div>
    <div>
      <a href="#top">↑ back to top</a> &nbsp;·&nbsp;
      <a href={site.dailyUrl}>daily</a> &nbsp;·&nbsp;
      <a href={site.rssPath}>rss</a>
    </div>
  </div>
</footer>
